{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "react"
  ],

  "ignore": [
    "**/build",
    "**/results"
  ],

  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],

  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
