{
  "include": [
    "src/**/*.js",
    "src/**/*.jsx"
  ],
  "extension": [".js", ".jsx"],
  "all": true,

  "sourceMap": false,
  "instrument": false,

  "reporter": ["html"],

  "lines": 100,
  "branches": 100,
  "check-coverage": true,
  "report-dir": "tests/unit/results/coverage"
}
