{
  "include": [
    "src/**/*.js",
    "src/**/*.jsx"
  ],
  "exclude": [
    "**/webpack.config.*",
    "src/index*",
    "src/app-factory.js",
    "tests/unit/**/*.js"
  ],
  "extension": [".js", ".jsx"],
  "all": true,

  "sourceMap": false,
  "instrument": false,

  "reporter": ["html"],
  "report-dir": "tests/unit/results/coverage",

  "lines": 100,
  "branches": 100,
  "check-coverage": true
}
