{
  "extends": "../.babelrc",

  "env": {
    "unit": {
      "plugins": [
        "../babel/babel-plugin-remove-asset-imports",
        "istanbul"
      ]
    },
    "node": {
      "plugins": [
        "../babel/babel-plugin-remove-asset-imports"
      ]
    },
    "coverage": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
