@import "~reset-css/reset.css";


body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4em;

  background: #f5f5f5;
  color: #4d4d4d;
}
